<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style>
		ul,li{
			list-style: none;
			margin: 0;
			padding: 0;
		}

		.item{
			border: 1px solid black;
			margin: 10px;
			padding: 10px;
			width: 200px;
		}
	</style>
</head>
<body>
	<div id="app">
		<div>{{ number | addZero }}</div>
		<ul>
			<li v-for="item in priceArray" class="item">
				{{ item.name | uppercase }} <br>
				{{ item.name | lowercase | capitalize }} <br>
				{{ item.price | currency('￥') }}
				{{ item.name | special }}
			</li>
		</ul>
	</div>
	<div id="app2">
		<ul>
			<li v-for="item in priceArray" class="item">
				{{ item.name | uppercase }} <br>
				{{ item.name | lowercase | capitalize }} <br>
				{{ item.price | currency('￥') }}
				{{ item.name | special }}
			</li>
		</ul>
	</div>

	<!-- 搜索过滤 -->
	<div id="app3">
        <input type="text" v-model="name">
        <ul>
            <li v-for="user in newUsers" >
                {{ user.name }}
            </li>
        </ul>
    </div>
	<!-- 时间转化器 -->
    <div id="app4">
        <div>{{ time | timer  }}</div>
        <div>{{ json | toJson}}</div>
    </div>
	<!-- 过滤html -->
	<!-- <div id="app5">
        <input type="text" name="" v-model='html2'>
        <div v-html='html'></div>
    </div>
 -->
	<script src="node_modules/vue/dist/vue.js"></script>
	<script>
		// 补0
		Vue.filter('addZero',function(num){
            return num<10? '0'+num : ''+num
        });
		//加符号 取小数2位
		Vue.filter('currency',(str,prefix) => {
			return `${
				prefix?prefix:'$'
			}${ Number(str).toFixed(2) }`;
		});
		//转大写
		Vue.filter('uppercase',(str) => {
			return `${str.toUpperCase()}`;
		});
		//转首字母大写
		Vue.filter('capitalize',(str) => {
			return str.charAt(0).toUpperCase()+str.substring(1);
		});
		//转小写
		Vue.filter('lowercase',(str) => {
			return str.toLowerCase();
		});
		//时间转化器 毫秒
		Vue.filter('timer',(date) => {
			var oDate =new Date(date);
			return `${oDate.getFullYear()}-${oDate.getMonth()+1}-${oDate.getDate()} ${oDate.getHours()<10? '0'+oDate.getHours() : oDate.getHours() }:${oDate.getMinutes()<10? '0'+oDate.getMinutes():oDate.getMinutes()}:${oDate.getSeconds()<10? '0'+oDate.getSeconds() : oDate.getSeconds()}`
		});

		// JSON转字符
		Vue.filter('toJson',function(json){
            return JSON.stringify(json)
        });
	
		new Vue({
			el:'#app',
			data:{
				number:9,
				priceArray:[{
					name:'APPLE',
					price:'20'
				},{
					name:'BANANA',
					price:'30'
				},{
					name:'ORANGE',
					price:'50'
				}]
			},
			filters:{
				special:function(str){
					return str.split('').reverse().join('')
				}
			}
		})

		new Vue({
			el:'#app2',
			data:{
				priceArray:[{
					name:'Pear',
					price:'20'
				},{
					name:'watermolen',
					price:'30'
				},{
					name:'strawberry',
					price:'50'
				}]
			},
			filters:{
				special:function(str){
					return str.split('').join('-')
				}
			}
		});

		//搜索过滤
		new Vue({
			el:'#app3',
			data: {
                name: '',
                users: [
                    { name: 'Bruce' },
                    { name: 'Chuck' },
                    { name: 'Jackie' },
                    { name: '赵' }
                ] 
            },
            computed: {
                newUsers: function () {
                    var that = this;
                    return that.users.filter(function (user) {
                        return user.name.toLowerCase().indexOf(that.name.toLowerCase()) !== -1;
                    })
                }

            }
		})

		new Vue({
			el:'#app4',
			data: {
                time:Date.now(),
                json:{name:'peter',age:8}
            },
            methods:{
            	addZero : function(n){
            		return n<10 ? '0'+n : ''+n;
            	}
            }
		});


		// new Vue({
		// 	el:'#app5',
		// 	data: {
  //               html:''
  //           },
  //           computed:{
  //           	html2:{
  //           		get:function(){

  //           			return this.html.replace(/<[^>]+>/g,"")
  //           			// this.html.replace(/<[^<+]>/g,'')
  //           		},
  //           		set:function(val){
  //           			// this.html2 = val ;
  //           			console.log(val)
  //           			this.html = val
  //           		}
  //           	}
  //           }
		// })
	</script>
</body>
</html>